body {
  margin: var(--space-16);
  background-color: #23222b;
  color: var(--popup-1000);
  padding: var(--space-8);
}

h2 {
  margin-bottom: var(--space-12);
  font-size: var(--font-size-large);
}

#export-import-controls {
  display: flex;
  gap: var(--space-8);
  flex-wrap: wrap;
}

/* =========================
   Button Styles
   ========================= */
button {
  font-size: var(--font-size-medium);
  color: var(--popup-900);
  background-color: #414049;
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  padding: var(--space-8) var(--space-12);
}

button:hover {
  background-color: #57575d;
}